<div class="container d-flex flex-column group-struct p-3">
    <div class="popup-struct">
        <p style="font-weight: bold; color: #FFF;">Discord</p>
        <div class="d-flex">
            <div class="flex-fill content-adjust">
                <p class="p-title" style="color: #FFF;">76</p>
                <p style="color: #e8e8e8;">Person online</p>
            </div>
            <div class="flex-fill" style="position: relative">
                <button class="content-custom"><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></button>
            </div>
        </div>
    </div>
    <div>
        <p class="topic">Recent Posts</p>
        <div *ngFor="let post of posts" class="d-flex flex-column">
            <div class="d-flex my-2">
                <div>
                    <button class="user-profile"></button>
                </div>
                <div class="flex-grow-1">
                    <p class="mini-title">{{post.topic}}</p>
                    <p class="mini-source">
                        By {{post.client?.username}}, {{seperateDateTime(post.postTime)[1]}}<br>
                        {{seperateDateTime(post.postTime)[0]}}
                    </p>
                </div>
                <div>
                    <div 
                    [style.background-color]="getBackGroundColor(post.community)"
                    class="status-box"
                    >
                </div>
                </div>
            </div>
        </div>
    </div>
</div>