<div class="container">
    <div class="container section" *ngFor="let post of getPosts">
        <h5>{{post.topic}}</h5>
        <p class="content-struct">{{post.content}}</p>
        <div class="d-flex mt-4">
            <div>
                <div class="user-profile"></div>
            </div>
            <div>
                <span class="content-struct">Posted By </span>
                <span class="client-name">{{post.client?.username}}</span>
            </div>
            <div class="flex-grow-1">
                <p class="content-struct">{{seperateDateTime(post.postTime)}}</p>
            </div> 
        </div>
        
    </div>
</div>

