/* div, button {
    border: 2px solid red;
} */

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 80px;
}

p {
    margin: 30px;

    font-size: 18px;
    font-weight: bold;
}

input {
    width: 300px;
}

.form-center {
    margin: 10px auto;
    padding: 10px;

    border: none;
    border-left: 12px solid #77B6FF;
    box-shadow: -1px 6px 22px -11px rgba(0,0,0,0.39);
}

.container-custom {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: #31303B;
}

.float-adjust {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    box-shadow: -7px 9px 25px -8px rgba(0,0,0,0.8);
}

.row-modify {
    width: 250px;
    height: 250px;
}

.content-struct {
    padding: 25px;
    text-align: right;
}

.btn-cl {
    transition: transform 0.3s;
    transition-duration: 0.3s;
}
.btn-cl:hover {
    transform: scale(1.2);
    border: 1px solid #5346c7;
    transition: transform 0.3s;
    transition-duration: 0.3s;
}

.btn-custom {
    width: 250px;
    margin: 5px auto;
    padding: 10px;

    color: #FFF;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: -1px 6px 22px -11px rgba(0,0,0,0.39);
    background-color: #5346c7;
    
}

.btn-center {
    text-align: center;
}

.bg-preview {
    background: url('../../assets/images/login-cover.jpg');
    background-size: cover;
    height: 100%;
}

.bg-white {
    background-color: #FFF;
}
