header {
    font-weight: 700;
    font-size: 64px;
}

h4 {
    font-weight: 400;
}

header,h4 {
    color: #FFF;
    text-align: center;
}

.bg-header-content {
    background: url('../../../assets/images/header-image.png');
    background-size: cover;
    min-height: 100%;
}

.my-custom {
    padding: 120px 0;
}

.tools-compo-struct {
    margin: 10px 0;
    padding: 5px;

    color: #FFF;
    background-color: #31303B;
    border-radius: 15px;
}

.tools-submit {
    background-color: #6E8A2B !important;
}
.form-input {
    border-radius: 15px;
}

.btn-custom-form-submit {
    color: #FFF;
    background-color: #D09A77;
    border-radius: 15px;
}

.btn-custom-create {
    width: 100%;

    text-align: center;
    font-weight: bold;
}
